<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.article.mapper.ArticleCategoryMapper">

    <sql id="Base_Column_List">
        category_id , category_name , category_type  ,create_time , update_time
    </sql>

    <select id="findAll" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
        <include refid="Base_Column_List"></include>
        from
        article_category
        where
        1=1

    </select>

    <select id="getByParam" parameterType="map" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
        <include refid="Base_Column_List"></include>
        from
            article_category
        <where>
            <if test="dto.categoryName != null and dto.categoryName != ''">
                and category_name=#{dto.categoryName}
            </if>
            <if test="dto.categoryType != null and dto.categoryType != ''">
                and category_type=#{dto.categoryType}
            </if>
            <if test="dto.categoryId != null and dto.categoryId != ''">
                and category_id = #{dto.categoryId}
            </if>
            <if test="dto.fromTime != null">
                and create_time &gt;=#{dto.fromTime}
            </if>
            <if test="dto.toTime != null">
                and create_time &lt;=#{dto.toTime}
            </if>
        </where>
    </select>

    <delete id="deleteByIds" parameterType="java.util.List" >
        delete from
        article_category
        where
        1=2
        <if test="null != idList and idList.size()>0">
            or category_id in
            <foreach collection="idList" item="id" open="(" close=")" separator="," index="0">
                #{id}
            </foreach>
        </if>

    </delete>


</mapper>