<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.article.mapper.ArticleContentMapper">

    <sql id="Base_Colum_List">
      content_id,content_body,article_id,create_time,update_time
    </sql>

    <update id="updateByArticleId" parameterType="wang.redbean.blog.article.entity.ArticleContent" >
        update
          article_content
        <set>
            <if test="articleContent.contentBody != null and articleContent.contentBody != ''">content_body=#{articleContent.contentBody}</if>
        </set>
        where
          1=0
        <if test="articleContent.articleId != null">or article_id = #{articleContent.articleId}</if>
    </update>

    <select id="getByArticleId" parameterType="Integer" resultType="wang.redbean.blog.article.entity.ArticleContent">
        select
          <include refid="Base_Colum_List" ></include>
        from
          article_content
        where
          1=0
        <if test="articleId != null">or article_id = #{articleId}</if>
    </select>


</mapper>