<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.article.mapper.ArticleInfoMapper">

    <sql id="Base_Colum_List">
      article_id , user_id, article_name, article_description, article_status, article_icon, category_type , create_time , update_time
    </sql>

    <insert id="save" parameterType="wang.redbean.blog.article.entity.ArticleRecived" >
        INSERT INTO
          article_info (user_id, article_name, article_description, article_status, article_icon, category_type)
        VALUES
          (#{articleRecived.userId}, #{articleRecived.articleName}, #{articleRecived.articleDescription}, #{articleRecived.articleStatus},
          #{articleRecived.articleIcon}, #{articleRecived.categoryType});

          INSERT INTO
          article_content (article_id, content_body)
        VALUES
          (last_insert_id(),#{articleRecived.contentBody});

    </insert>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete
          article_info,article_content
        from
          article_info
        left join
          article_content
        on
          article_info.article_id = article_content.article_id
        where
          1=2
        <if test="null != idList and idList.size()>0">
            or article_info.article_id in
            <foreach collection="idList" item="id" open="(" close=")" separator="," index="0">
                #{id}
            </foreach>
        </if>
    </delete>

    <update id="updateInfoById" parameterType="wang.redbean.blog.article.entity.ArticleInfo">
        update
          article_info
        <set>
            <if test="articleInfo.userId != null and articleInfo.userId !=''">user_id=#{articleInfo.userId},</if>
            <if test="articleInfo.articleName != null and articleInfo.articleName !=''">article_name=#{articleInfo.articleName},</if>
            <if test="articleInfo.articleDescription != null and articleInfo.articleDescription !=''">article_description=#{articleInfo.articleDescription},</if>
            <if test="articleInfo.articleStatus != null and articleInfo.articleStatus !=''">article_status=#{articleInfo.articleStatus},</if>
            <if test="articleInfo.articleIcon != null and articleInfo.articleIcon !=''">article_icon=#{articleInfo.articleIcon},</if>
            <if test="articleInfo.categoryType != null and articleInfo.categoryType !=''">category_type=#{articleInfo.categoryType},</if>
        </set>
        where
          1=0
        <if test="articleInfo.articleId != null and articleInfo.articleId != ''">or article_id=#{articleInfo.articleId}</if>
    </update>

    <select id="findAll" resultType="wang.redbean.blog.article.entity.ArticleInfo">
        select
          <include refid="Base_Colum_List"></include>
        from
          article_info
        where
          1=1
    </select>

    <select id="getByParam" parameterType="map" resultType="wang.redbean.blog.article.entity.ArticleInfo">
        select
          <include refid="Base_Colum_List"></include>
        from
          article_info
        where
          1=1
        <if test="articleInfo.articleId != null"> and article_id=#{articleInfo.articleId}</if>
        <if test="articleInfo.userId != null"> and user_id=#{articleInfo.userId}</if>
        <if test="articleInfo.articleName != null and articleInfo.articleName != ''"> and article_name=#{articleInfo.articleName}</if>
        <if test="articleInfo.articleDescription != null and articleInfo.articleDescription != ''"> and article_description=#{articleInfo.articleDescription}</if>
        <if test="articleInfo.articleStatus != null "> and article_status=#{articleInfo.aticleStatus}</if>/*判断Integer类型值为0时直接跳过？？？*/
        <if test="articleInfo.categoryType != null and articleInfo.categoryType != ''"> and category_type=#{articleInfo.categoryType}</if>
        <if test="startTime != null"> and create_time &gt;= #{startTime}</if>
        <if test="endTime != null"> and create_time &lt;= #{endTime}</if>
    </select>

</mapper>