<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.article.mapper.ArticleCategoryMapper">

    <select id="findAll" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
          category_id , category_name , category_type  ,
          create_time , update_time
        from
          article_category
        where
          1=1

    </select>

    <select id="getByType" parameterType="Integer" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
          category_id , category_name , category_type  ,
          create_time , update_time
        from
          article_category
        where
          category_type=#{categoryType}
    </select>

    <select id="getByName" parameterType="String" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
          category_id , category_name , category_type  ,
          create_time , update_time
        from
          article_category
        where
          category_name=#{categoryName}
    </select>

    <select id="getByTime" parameterType="map" resultType="wang.redbean.blog.article.entity.ArticleCategory">
        select
          category_id , category_name , category_type  ,
          create_time , update_time
        from
          article_category
        where
          1=1
        <if test="startTime != null">and create_time &gt;=#{startTime}</if>
        <if test="endTime != null">and create_time &lt;=#{endTime}</if>
    </select>

    <delete id="deleteByIds" parameterType="java.util.List" >
        delete from
          article_category
        where
          1=2
        <if test="null != idList and idList.size()>0">
            or category_id in
              <foreach collection="idList" item="id" open="(" close=")" separator="," index="0">
                  #{id}
              </foreach>
        </if>

    </delete>


</mapper>