<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.user.mapper.UserLoginMapper">

     <sql id="Base_Column_List">
       login_id, user_id, login_ip, create_time, update_time
    </sql>

    <select id="getAllToStartAndCount" resultType="wang.redbean.blog.user.entity.UserLogin" parameterType="map" >
        SELECT
        <include refid="Base_Column_List"/>
        from user_login
        where login_id > ( #{dto.start} -1) * #{dto.count}
        order by login_id limit #{dto.count}
    </select>



</mapper>