<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.user.mapper.UserMsgMapper">

    <sql id="Base_Column_List">
        id, user_id, nickname, sex , age, area, email, phone,
        profession, position, description, icon, status, create_time, update_time
    </sql>


    <select id="selectByUserId" resultType="wang.redbean.blog.user.model.UserMsg" >
        select
        <include refid="Base_Column_List"/>
        from user_msg
        where user_id = #{userId}
    </select>





</mapper>