<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.redbean.blog.user.mapper.UserAttentionMapper">

    <select id="getUserAttention" resultType="wang.redbean.blog.user.entity.vo.UserAttentionVo" parameterType="map" >
        SELECT
        a.attention_id AS attentionId, a.user_id AS userId, a.attention_user_id AS attentionUserId,
        a.attention_status AS attentionStatus, m.user_name AS userName, m.user_icon AS userIcon
        from user_attention a
        left join user_msg m
        on a.attention_user_id = m.user_id
        where user_id = #{userId}
    </select>



</mapper>