/*lbox*/
.tool{clear: both; height: 100px;}
.tool img{width: 100px;height: 100px;display: inline-block;vertical-align:top}/*vertical-align: auto*/
.tool-content{display: inline-block;width: 90%;height: 100px}
.tool-content a{float: right;}
/*tab_box*/
.whitebg { background: #fff; border-radius: 3px; padding: 20px; margin-bottom: 20px; overflow: hidden;  min-height: calc(100vh - 140px);}
.bloglist li {overflow: hidden;margin-bottom: 20px;border-bottom: #eee 1px dashed;padding-bottom: 20px;position: relative;min-height: 120px;}
.blogtitle {margin: 0 0 10px 0;font-size: 18px;overflow: hidden;}
.blogpic { float: left; margin-right: 20px; display: block; overflow: hidden; border-radius: 3px; position: relative }
.blogpic img{ width: 100px;height: 100px }
.blogtext {font-size: 14px;color: #666;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 3;margin-top: 20px;}
.bloginfo { margin-top: 20px; overflow: hidden; color: #999; line-height: 34px; }
.bloginfo span { margin: 0 5px }
.bloginfo span a { color: #096 }
a.viewmore { display: block; right: 10px; bottom: 20px; position: absolute; padding: 3px 10px; background: #12b7de; color: #fff; border-radius: 3px; }
